*secret*
*.swap

output_frames
test_video.mp4
test.mp4

__pycache__

# Clojure
.cpcache/
target/
classes/
lib/
.nrepl-port
.lsp/
.calva/
checkouts/
pom.xml
pom.xml.asc
*.jar
*.uber.jar

# C++
**/build/
**/CMakeFiles/
**/CMakeCache.txt
**/Makefile
**/cmake_install.cmake
*.o
*.a

hs_err*
